{% extends 'registration/base.html' %}
{% block title %}{% block title-meta %}
افزودن مقاله
{% endblock %}{% endblock %}
{% load crispy_forms_tags %}

{% block main %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="card card-primary ">
              <div class="card-header">
                <h3 class="card-title mb-0 float-left">افزودن مقاله </h3>
              </div>
        <div class="card-body">
            <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.slug|as_crispy_field }}
            </div>
            <div class="form-group col-md-12 mb-0">
                {{ form.description|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.category|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.thumbnail|as_crispy_field }}
                {{ form.publish|as_crispy_field }}
            </div>
            {% if user.is_superuser %}
                <div class="form-group col-md-6 mb-0">
                {{ form.author|as_crispy_field }}
                {{ form.is_special|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.status|as_crispy_field }}
            </div>
            {% endif %}
            <button class="btn btn-success">ارسال مقاله</button>
            {% if user.is_superuser and request.resolver_match.kwargs.pk %}
            <a href ="{% url 'article-delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">حذف</a>
            {% endif %}
            </div>
        </div>
    </div>
    </form>
{% endblock %}